.btn {
  padding: var(--space-xs) var(--space-s);
  font-size: var(--text-step-0);
  text-decoration: none;
  background: var(--color-black);
  color: var(--color-white);
  display: inline-flex;
  position: relative;
  text-align: center;
  clip-path: polygon(
    15px 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 20px
  );
  transition: clip-path 0.3s ease;

  &:hover {
    clip-path: polygon(
      30px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 35px
    );
  }

  &:focus-visible {
    outline: 2px dashed var(--color-white);
    outline-offset: -4px;
  }
}

.btn--primary {
  background: var(--color-salmon);
  color: var(--color-white);
}

.btn--small {
  padding: var(--space-xxs) var(--space-xs);
  font-size: var(--text-step--1);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );

  &:hover {
    clip-path: polygon(
      15px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 20px
    );
  }
}

.btn--small-triangle {
  position: relative;
  background-color: var(--color-salmon);
  color: var(--color-white);
  text-decoration: none;
  padding: var(--space-xxs) var(--space-xs);
  translate: var(--space-s) 0;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    transform: translateX(-100%);
    background-color: var(--color-salmon);
    height: 100%;
    aspect-ratio: 1;
    clip-path: polygon(45% 100%, 100% 0, 100% 100%);
  }

  &:focus-visible {
    outline-color: var(--color-salmon);
    outline-offset: 3px;
  }
}
