.edge-card {
  background: var(--color-gray);
  color: var(--color-black);
  padding: var(--space-m) var(--space-s) var(--space-m) var(--space-m);
  position: relative;

  &::before {
    content: "";
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    width: var(--space-m);
    height: var(--space-m);
    background: var(--color-white);
    position: absolute;
    top: -1px;
    left: -1px;

    @media (--lg) {
      width: var(--space-l);
      height: var(--space-l);
    }
  }
}

.edge-card--purple {
  background: var(--color-purple);
  color: var(--color-white);
}

.edge-card__header {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  h2,
  h3,
  h4,
  h5 {
    @media (--sm) {
      margin-inline-start: var(--space-m);
    }
  }

  svg + h2,
  svg + h3,
  svg + h4,
  svg + h5 {
    margin-inline-start: 0;
  }
}

.edge-card__header-icon {
  flex-shrink: 0;
}

.edge-card__header {
  & + .edge-card__content {
    margin-block-start: var(--space-xs);
  }
}

.edge-card__footer {
  display: flex;
  align-items: flex-start;
  margin-block-start: var(--space-m);
  justify-content: space-between;
  gap: var(--space-s);
}
