.fancy-list {
  li {
    position: relative;
    margin-block-start: var(--space-l);

    &::before {
      content: "";
      margin-left: 9px;
      display: block;
      margin-block: var(--space-s);
      background-color: var(--color-salmon);
      outline: 4px solid var(--color-purple);
      outline-offset: 5px;
      width: 5px;
      height: 5px;
    }

    @media (--sm) {
      padding-left: calc(44px + var(--space-s));
      margin-block-start: var(--space-s);

      &::before {
        position: absolute;
        left: 17px;
        top: var(--text-step--2);
        margin: 0;
        width: 10px;
        height: 10px;
        outline: 7px solid var(--color-purple);
        outline-offset: 10px;
      }
    }
  }
}

.fancy-list--light {
  li {
    &::before {
      background-color: var(--color-salmon);
      outline-color: var(--color-white);
    }
  }
}

.fancy-list-container {
  padding-block: var(--space-s);
  border-top: 2px solid var(--color-purple);
  border-bottom: 2px solid var(--color-purple);
}
