@keyframes fadein {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.infographic {
  .infographic-item {
    margin-inline: auto;
    width: fit-content;
    transform-origin: top center;

    /* Create View Timeline */
    view-timeline-name: --fadein-image;
    view-timeline-axis: block;

    /* Attach animation, linked to the  View Timeline */
    animation: linear fadein both;
    animation-timeline: --fadein-image;

    /* Tweak range when effect should run*/
    animation-range: entry 25% cover 50%;
  }

  .infographic-item__desktop {
    display: none;
  }

  @media (--md) {
    .infographic-item__mobile {
      display: none;
    }

    .infographic-item__desktop {
      display: flex;
    }
  }
}
