.logo-list {
  position: relative;
  margin-block-end: calc(var(--space-xl) * -1);

  &::before {
    content: "";
    width: 100%;
    height: clamp(10rem, 25vw, 15rem);
    bottom: 0;
    left: 0;
    position: absolute;
    background: var(--color-white);
    z-index: 1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 20rem;
    bottom: clamp(10rem, 25vw, 15rem);
    left: 0;
    position: absolute;
    pointer-events: none;
    background: linear-gradient(
      360deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .button {
    z-index: 2;
    position: relative;
  }
}

.logo-list__logo {
  max-width: 100%;
  aspect-ratio: 1;
}

.logo-list__item {
  aspect-ratio: 1/1;
  border: 1px solid var(--color-gray-light);
  border-radius: 25px;
  background: var(--color-white);
  position: relative;
  padding: var(--space-s);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;

  &:hover {
    transform: scale(1.25);
    z-index: 2;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--color-white);
  }

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
  }

  a {
    inset: 0;
    position: absolute;

    &:focus-visible {
      outline: 4px dotted var(--color-salmon);
      outline-offset: 6px;
      border-radius: 25px;
    }
  }
}
