.ribbon {
    font-family: var(--font-head);
    font-size: .90rem;
    text-transform: uppercase;
    background: var(--color-salmon);
    color: var(--color-white);
    padding: .4rem .2rem .30rem .6rem;
    transform: rotate(45deg);
    position: absolute;
    top: 4.8rem;
    transform-origin: top right;
    right: -.1rem;
    display: flex;
    gap: .3rem;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        background: var(--color-salmon);
        width: 10rem;
        height: 100%;
        top: 0;
        z-index: -1;
        right: -50%;
        width: 20rem;
    }
    

    svg {
        height: 2.8rem;
        width: 2.8rem;
    }
}