.round-card {
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  --card-padding: var(--space-s);
  z-index: 2;
  background-color: var(--color-white);
}

.round-card__tagline {
  padding: var(--space-s) var(--card-padding);
}

.round-card__header {
  padding: var(--card-padding);
  min-height: 12rem;
  overflow: hidden; /* Prevent image overflow */
  display: flex;
  align-items: center;
  justify-content: center;

  &.centerflex::before {
    display: none;
  }
}

.round-card__content {
  padding: var(--card-padding);
}

.round-card__img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain; /* Ensure the image stays inside boundaries */
}

.round-card__footer {
  padding: 0 var(--card-padding) var(--card-padding) var(--card-padding);
}

.round-card:not(:has(.round-card__content)) {
  .round-card__footer {
    padding: var(--card-padding);
  }
}
