.round-card {
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  --card-padding: var(--space-s);
}

.round-card__tagline {
  padding: var(--space-s) var(--card-padding);
}

.round-card__header {
  padding: var(--card-padding);

  &.centerflex::before {
    display: none;
  }
}

.round-card__content {
  padding: var(--card-padding);
}

.round-card__footer {
  padding: 0 var(--card-padding) var(--card-padding) var(--card-padding);
}

.round-card:not(:has(.round-card__content)) {
  .round-card__footer {
    padding: var(--card-padding);
  }
}
