.site-head {
  overflow-x: clip;
  width: 100vw;

  > .cluster {
    --cluster-gap: var(--space-s);
    --cluster-justification: center;

    @media (--sm) {
      --cluster-justification: space-between;
    }

    @media (--md) {
      --cluster-gap: var(--space-l);
      flex-wrap: nowrap;
    }
  }

  svg {
    color: var(--color-purple);

    @media (--md) {
      width: 20%;
    }

    @media (--lg) {
      padding-top: var(--space-m);
      width: auto;
    }
  }

  ul {
    background-color: var(--color-purple);
    position: relative;
    padding-block: var(--space-xs);
    padding-inline-start: var(--space-xs);

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: var(--color-purple);
      top: 0;
      height: 100%;
      z-index: 1;
    }

    @media (--sm) {
      margin-inline-start: var(--space-l);

      &::before {
        aspect-ratio: 1;
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
        transform: translateX(calc(-100% - var(--space-xs) + 1px));
      }
    }

    &::after {
      height: 100%;
      width: 150vw;
      right: -25vw;

      @media (--sm) {
        width: 100vw;
        right: -99vw;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      z-index: 2;
      color: var(--color-white);

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: calc(100% + (var(--space-xxs) * 2));
        top: calc(var(--space-xxs) * -1 - 2px);
        z-index: -1;
      }

      &::before {
        width: calc(100% + (var(--space-xs) * 2));
        left: calc(var(--space-xs) * -1);
      }

      &::after {
        width: 0.4rem;
        left: calc(var(--space-xs) * -1);
      }

      &[data-state="active"] {
        color: var(--color-purple);

        &::before {
          background-color: var(--color-white);
        }

        &::after {
          background-color: var(--color-salmon);
        }
      }

      &:hover:not([data-state="active"]),
      &:focus-visible:not([data-state="active"]) {
        &::before {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      &:focus-visible {
        outline: none;

        &::before {
          outline: 2px dashed var(--color-white);
          outline-offset: 2px;
        }
      }
    }
  }
}

.dark.site-head {
  background-color: var(--color-purple);

  svg {
    color: var(--color-white);
  }

  ul {
    background-color: var(--color-white);

    &::before,
    &::after {
      background-color: var(--color-white);
    }

    a {
      color: var(--color-black);

      &[data-state="active"] {
        color: var(--color-white);

        &::before {
          background-color: var(--color-purple);
        }

        &::after {
          background-color: var(--color-salmon);
        }
      }

      &:hover:not([data-state="active"]),
      &:focus-visible:not([data-state="active"]) {
        &::before {
          background-color: color-mix(
            in srgb,
            var(--color-purple),
            transparent 80%
          );
        }
      }

      &:focus-visible {
        &::before {
          outline: 2px dashed var(--color-purple);
        }
      }
    }
  }
}

.hero-variation.site-head {
  position: absolute;
  z-index: 2;
  width: 100%;

  svg {
    color: var(--color-white);
  }
}
