.tag {
  text-transform: uppercase;
  font-weight: var(--weight-medium);
  font-family: var(--font-head);
  border: 3px solid var(--color-black);
  border-radius: 20px;
  width: fit-content;
  padding: 0.25rem 1rem 0;
  font-size: var(--text-step--1);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-black);
    color: var(--color-white);
    outline: none;
  }
}

.tag.tag-variation {
  color: var(--color-salmon);
  border-color: var(--color-salmon);
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  .line {
    display: block;
    height: 2px;
    background-color: var(--color-salmon);
    width: 3rem;
  }
}
