.workstream {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding-block: var(--space-xl);

  .date {
    margin-top: var(--space-l);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-s);
    border-block-start: 2px solid var(--color-white);
    border-block-end: 2px solid var(--color-white);
    padding-block: var(--space-s);

    @media (--sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    .date__content {
      opacity: 0.5;
      font-size: var(--text-step-0);
      line-height: var(--leading-tight);
      width: 100%;
    }

    svg {
      flex-shrink: 0;
    }

    a {
      width: max-content;
      flex-shrink: 0;
    }
  }

  .content {
    p {
      font-size: var(--text-step-1);
      line-height: var(--leading-loose);
    }
  }

  .fancy-list {
    font-size: var(--text-step-0);
    border-block-start: 2px solid var(--color-white);
    border-block-end: 2px solid var(--color-white);
    padding-block-start: var(--space-s);
    padding-block-end: var(--space-m);

    &:before {
      content: attr(aria-label);
      font-size: var(--text-step-2);
      font-weight: var(--weight-bold);
      font-family: var(--font-head);
    }

    li {
      p {
        line-height: unset;
        font-size: unset;
        opacity: 0.5;
      }
      &::before {
        background-color: var(--color-salmon);
        outline-color: var(--color-white);
        opacity: 0.5;
      }

      &.done {
        &::before,
        p {
          opacity: 1;
        }
      }
    }
  }

  .resources {
    border-block-start: 2px solid var(--color-white);
    border-block-end: 2px solid var(--color-white);
    padding-block-start: var(--space-s);
    padding-block-end: var(--space-m);

    &:before {
      content: attr(aria-label);
      font-size: var(--text-step-2);
      font-weight: var(--weight-bold);
      font-family: var(--font-head);
    }
  }

  .resources__item {
    position: relative;
    background: var(--color-white);
    padding: 1rem 1rem 0.8rem 1.5rem;

    &:hover {
      background: var(--color-gray-light);
    }

    &::after {
      content: "";
      background-image: url("/assets/images/diagonal-arrow.svg");
      width: var(--text-step-2);
      height: var(--text-step-2);
      background-size: contain;
      position: absolute;
      right: 1rem;
      pointer-events: none;
      background-repeat: no-repeat;
    }

    @media (--md) {
      padding: 1.5rem 2rem 1.2rem 2.5rem;
    }

    &::before {
      content: "";
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      width: var(--space-s);
      height: var(--space-s);
      background: var(--color-purple);
      position: absolute;
      top: -1px;
      left: -1px;

      @media (--lg) {
        width: var(--space-m);
        height: var(--space-m);
      }
    }

    a {
      text-decoration: none;
      font-size: var(--text-step-1);
      font-weight: var(--weight-bold);
      font-family: var(--font-head);
      color: var(--color-black);
      line-height: 1.2;

      &::before {
        content: "";
        inset: 0;
        position: absolute;
      }
    }
  }

  .workstream-lead {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    gap-vertical: var(--space-s);
    flex-wrap: wrap;

    a {
      display: flex;
      align-items: center;
      gap: var(--space-xxs);
      text-decoration: none;
      font-size: var(--text-step--1);

      &:hover {
        color: var(--color-salmon);
      }

      svg {
        flex-shrink: 0;
      }
    }
  }

  .workstream-lead__portrait {
    width: calc(var(--space-xl) + 2rem);
    img {
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 999px;
      position: relative;
      mix-blend-mode: luminosity;
    }
  }

  .fancy-list + .resources {
    border-block-start: 0;
    margin-block-start: 0;
  }

  .resources + .fancy-list {
    border-block-start: 0;
    margin-block-start: 0;
  }
}

.workstream-related-content {
  background-color: var(--color-white);
  padding-block: var(--space-xl);
}
