
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% include "partials/meta-info.njk" %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <script>
      document
        .documentElement
        .classList
        .remove("no-js");
      document
        .documentElement
        .classList
        .add("js-active");
    </script>

    {# When using fonts, load them via fonts.css before the critical CSS so they are rendered ASAP #}
    {# <link rel="stylesheet" href="/assets/css/fonts/fonts.css?{{ assetHash }}" /> #}
    {% if env.nodeenv !== 'production' %}
      <!-- We're not in production mode -->
      <link rel="stylesheet" href="/assets/css/global.css"/>
    {% endif %}
  </head>

  <body>
    {% include "partials/site-head.njk" %}

    <main tabindex="-1" id="main-content" class="leading-snug">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% include "partials/site-foot.njk" %}
    {% script src = "global.js" %}
  </body>
</html>
