---
title: "About us"
layout: "layouts/subpage.njk"
permalink: /about-us/index.html
---

<div class="stack-m">
  <div class="wrapper" style="--wrapper-max: var(--wrapper-m);">
    <h1 class="uppercase font-head text-purple weight-bold text-step-4">Empowering Open-Source Firmware Innovation</h1>
  </div>
  <div class="text-side-by-side sidebar-right wrapper" style="
        --wrapper-max: var(--wrapper-m);
        --sidebar-width: clamp(22rem, 30vw, 30rem);
        --sidebar-gap: var(--space-l);
        --sidebar-threshold: 40rem;
        ">
    <div class="stack-m">
      <p class="text-step-1">At the heart of a global movement, we unite developers, companies, and communities to create secure, transparent, and flexible firmware solutions for the future.
  <br><br>
  Join us in driving change through open collaboration and cutting-edge technology.
  </p>
    </div>
    <aside class="stack-xs">
      <p class="text-step-0 text-gray-dark">The entire logo selection of the Open-Source Firmware Foundation.</p>
      <a href="/assets/images/downloads/osff_logos.zip" download class="link text-step--1">Zum Download</a>
    </aside>
  </div>
</div>

<div class="multiple-link-teaser | wrapper" style="--wrapper-max: var(--wrapper-m);">
  <div class="multiple-link-teaser__content | stack-s">
    <h2 class="uppercase font-head text-purple weight-bold text-step-3">Governance</h2>
    <p class="text-step-0">Here you find all important public documents related to the Open-Source Firmware Foundation</p>
    <div class="multiple-link-teaser__image"></div>
  </div>
  <p class="multiple-link-teaser__hint text-step--1">Open Source is not an alternative, but the best lorem ipsum dolor sit amet consteteur.</p>
  <div class="multiple-link-teaser__links">
    {% for document in collections
      .documents[0]
      .data
      .documents %}
      <a href="{{ document.download }}" target="_blank">
        {% icon icon = document.icon,
                alt = "",
                width = "var(--space-s)" %}
        {{ document.name }}
      </a>
    {% endfor %}
  </div>
  <a href="/community" class="multiple-link-teaser__small-link link">Explore the Community</a>
</div>

<div class="wrapper stack-xl --stack-space-2xl" style="--wrapper-max: var(--wrapper-m);">
  <div class="stack-m">
    <h2 class="text-center uppercase font-head text-purple weight-bold text-step-3">Officers</h2>
    <div class="cluster" style="--cluster-justification: center; --cluster-gap: var(--space-xxs);">
      {% for officer in collections
        .team[0]
        .data
        .officers %}
        <div class="person-card">
          <div class="person-card__info">
            <h3 class="uppercase font-head text-purple weight-medium text-step-1">{{ officer.position }}</h3>
            <p class="uppercase person-card__role text-step-0">{{ officer.position }}</p>
          </div>
          <div class="person-card__image-container">
            <img src="/assets/images/people/{{ officer.portrait }}" alt="">
            <span>
              {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
            </span>
          </div>
          <a class="person-card__link" target="_blank" href="{{ officer.linkedIn }}">
            <span class="sr-only">Visit LinkedIn</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="stack-m">
    <h2 class="text-center uppercase font-head text-purple weight-bold text-step-3">Board of Directors</h2>
    <div class="cluster" style="--cluster-justification: center; --cluster-gap: var(--space-xxs);">
      {% for director in collections
        .team[0]
        .data
        .boardOfDirectors %}
        <div class="person-card">
          <div class="person-card__info">
            <h3 class="uppercase font-head text-purple weight-medium text-step-1">{{ director.position }}</h3>
            <p class="uppercase person-card__role text-step-0">{{ director.position }}</p>
          </div>
          <div class="person-card__image-container">
            <img src="/assets/images/people/{{ director.portrait }}" alt="">
            <span>
              {% icon icon = "linkedin",
                              alt = "linkedin",
                              width = "var(--space-m)" %}
            </span>
          </div>
          <a class="person-card__link" target="_blank" href="{{ director.linkedIn }}">
            <span class="sr-only">Visit LinkedIn</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="stack-m">
    <h2 class="text-center uppercase font-head text-purple weight-bold text-step-3">Volunteers</h2>
    <div class="cluster" style="--cluster-justification: center; --cluster-gap: var(--space-xxs);">
      {% for volunteer in collections
        .team[0]
        .data
        .volunteers %}
        <div class="person-card">
          <div class="person-card__info">
            <h3 class="uppercase font-head text-purple weight-medium text-step-1">{{ volunteer.position }}</h3>
            <p class="uppercase person-card__role text-step-0">{{ volunteer.position }}</p>
          </div>
          <div class="person-card__image-container">
            <img src="/assets/images/people/{{ volunteer.portrait }}" alt="">
            <span>
              {% icon icon = "linkedin",
                              alt = "linkedin",
                              width = "var(--space-m)" %}
            </span>
          </div>
          <a class="person-card__link" target="_blank" href="{{ volunteer.linkedIn }}">
            <span class="sr-only">Visit LinkedIn</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="wrapper | stack-l" style="--wrapper-max: var(--wrapper-m)">
  <div class="sidebar-left" style="
      --sidebar-threshold: 30rem;
      --sidebar-gap-vertical: var(--space-xs);
      --sidebar-gap: var(--space-l);
      --sidebar-width: 50ch;
    ">
    <div class="stack-xs">
      <h3 class="uppercase text-purple font-head text-step-3 weight-bold">osff Membership Directory</h3>
    </div>
    <div class="stack-s">
      <hr>
      <p class="text-step-1 text-gray-dark">Want to know more about the benefits being an OSFF Member?</p>
      <a href="https://osfw.foundation/slides/Open-Source-Firmware-Foundation_public.pdf" class="link">Checkout OSFF Slides</a>
    </div>
  </div>

  <ul role="list" class="grid-switcher" style="
      --gs-columns-small: 1;
      --gs-columns-medium: 2;
      --gs-columns-large: 3;
      --gs-gap: var(--space-m);
    ">
    {% for member in collections
      .members[0]
      .data
      .members %}
      <li class="round-card">
        <div class="round-card__tagline">
          <p class="tag">{{ member.type }}</p>
        </div>
        <div class="centerflex round-card__header bg-gray">
          {% icon icon = member.logo,
        alt = "OSFF",
        class = "edge-card__header-icon",
        width = "clamp(4rem, 10vw, 8rem)" %}
        </div>
        <div class="round-card__footer">
          <a href="{{ member.link }}" class="link">More info</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% set upcomingHotEvents = collections.event | filterHotEvent %}
{% set nextEvent = upcomingHotEvents[0] %}

{% if nextEvent %}
  <div class="image-teaser wrapper" style="--wrapper-max: var(--wrapper-m)">
    <div class="decoline-container">
      <span class="decoline" aria-hidden="true"></span>
      <span class="decoline" aria-hidden="true"></span>
      <span class="decoline" aria-hidden="true"></span>
    </div>

    <div class="image-teaser__content">
      <div class="wrapper image-teaser__image">
        <img class="overlay" src="{{ nextEvent.data.image }}" alt="{{ nextEvent.data.title }}">
      </div>
      <div class="image-teaser__cta stack-s">
        <p class="uppercase text-purple font-head text-step--1 leading-flat">Dont't miss our next event</p>
        <h2 class="leading-normal weight-regular">{{ nextEvent.data.title }}</h2>
        <a class="btn weight-regular" href="/events/{{ nextEvent.data.title | slugify }}/">Info & Tickets</a>
      </div>
    </div>
  </div>
{% endif %}