---
title: "About us"
layout: "layouts/base.njk"
permalink: /about-us/index.html
---

<div class="stack-m">
    <div class="wrapper" style="--wrapper-max: var(--wrapper-m);">
        <h1 class="uppercase font-head text-purple weight-bold text-step-4">Empowering Open-Source Firmware Innovation</h1>
    </div>
    <div class="text-side-by-side sidebar-right wrapper" style="
        --wrapper-max: var(--wrapper-m);
        --sidebar-width: clamp(22rem, 30vw, 30rem);
        --sidebar-gap: var(--space-l);
        --sidebar-threshold: 40rem;
        ">
        <div class="stack-m">
            <p class="text-step-1">At the heart of a global movement, we unite developers, companies, and communities to create secure, transparent, and flexible firmware solutions for the future.
  <br><br>
  Join us in driving change through open collaboration and cutting-edge technology.
  </p>
            <a href="#" class="btn btn--primary">More info</a>
        </div>
        <aside class="stack-xs">
            <p class="text-step-0 text-gray-dark">The entire logo selection of the Open-Source Firmware Foundation.</p>
            <a href="#" class="link text-step--1">Zum Download</a>
        </aside>
    </div>
</div>

<div class="multiple-link-teaser | wrapper" style="--wrapper-max: var(--wrapper-m);">
    <div class="multiple-link-teaser__content | stack-s">
        <h2 class="uppercase font-head text-purple weight-bold text-step-3">Governance</h2>
        <p class="text-step-0">Here you find all important public documents related to the Open-Source Firmware Foundation</p>
        <div class="multiple-link-teaser__image"></div>
    </div>
    <p class="multiple-link-teaser__hint text-step--1">Open Source is not an alternative, but the best lorem ipsum dolor sit amet consteteur.</p>
    <div class="multiple-link-teaser__links">
        <a href="#">
            {% icon icon = "board-meeting",
                    alt = "",
                    width = "var(--space-s)" %}
                Board Meeting Minutes
            </a>
        <a href="#">
            {% icon icon = "articles",
                    alt = "",
                    width = "var(--space-s)" %}
                Articles of Incorporation
            </a>
        <a href="#">
            {% icon icon = "code-of-conduct",
                    alt = "",
                    width = "var(--space-s)" %}
                Code of Conduct
            </a>
        <a href="#">
            {% icon icon = "antitrust",
                    alt = "",
                    width = "var(--space-s)" %}
                Antitrust Policy
            </a>
        <a href="#">
            {% icon icon = "articles",
                    alt = "",
                    width = "var(--space-s)" %}
                Articles of Incorporation
            </a>
        <a href="#">
            {% icon icon = "code-of-conduct",
                    alt = "",
                    width = "var(--space-s)" %}
                Code of Conduct
            </a>
        <a href="#">
            {% icon icon = "antitrust",
                    alt = "",
                    width = "var(--space-s)" %}
                Antitrust Policy
            </a>
    </div>
    <a href="#" class="multiple-link-teaser__small-link link">Explore the Community</a>
</div>

<div class="wrapper stack-xl" style="--wrapper-max: var(--wrapper-m)">
    <div class="stack-m">
        <h2 class="text-center uppercase font-head text-purple weight-bold text-step-3">Officers</h2>
        <div class="cluster" style="--cluster-justification: center; --cluster-gap: var(--space-xxs);">
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Philipp deppenwiese</h3>
                    <p class="uppercase person-card__role text-step-0">President</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/philipp-deppenwiese.png" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/philipp-deppenwiese-40a357111/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Martin Roth</h3>
                    <p class="uppercase person-card__role text-step-0">Secretary</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/martin-roth.png" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/martinlroth/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
        </div>
    </div>

    <div class="stack-m">
        <h2 class="text-center uppercase font-head text-purple weight-bold text-step-3">Board of Directors</h2>
        <div class="cluster" style="--cluster-justification: center; --cluster-gap: var(--space-xxs);">
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Christian Walter</h3>
                    <p class="uppercase person-card__role text-step-0">Director</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/christian-walter.png" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/christian-walter-45588b8b/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Ron Minnich</h3>
                    <p class="uppercase person-card__role text-step-0">Director</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/ron-minnich.webp" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/ronminnich/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Werner Zeh</h3>
                    <p class="uppercase person-card__role text-step-0">Director</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/werner-zeh.png" alt="">
                    {# <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span> #}
                </div>
                {# <a class="person-card__link" target="_blank" href="#">
                    <span class="sr-only">Visit LinkedIn</span>
                </a> #}
            </div>
        </div>
    </div>

    <div class="stack-m">
        <h2 class="text-center uppercase font-head text-purple weight-bold text-step-3">Volunteers</h2>
        <div class="cluster" style="--cluster-justification: center; --cluster-gap: var(--space-xxs);">
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">David Hendricks</h3>
                    <p class="uppercase person-card__role text-step-0">Ambassador</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/david-hendricks.webp" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/dhendrix/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Subrata Banik</h3>
                    <p class="uppercase person-card__role text-step-0">Ambassador</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/subrata-banik.webp" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/subrata-banik-268b3317/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Hancock Chang</h3>
                    <p class="uppercase person-card__role text-step-0">Ambassador</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/hancock-chang.webp" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://linkedin.com/in/hancock-chang-6a81a646">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Felix Singer</h3>
                    <p class="uppercase person-card__role text-step-0">Ambassador</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/felix-singer.png" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/felixsinger/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Paul Grimes</h3>
                    <p class="uppercase person-card__role text-step-0">Ambassador</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/paul-grimes.jpg" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/paul-grimes-9631a92/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Richard Hughes</h3>
                    <p class="uppercase person-card__role text-step-0">Ambassador</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/richard-hughes.webp" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/hughsient/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
            <div class="person-card">
                <div class="person-card__info">
                    <h3 class="uppercase font-head text-purple weight-medium text-step-1">Kai Michaelis</h3>
                    <p class="uppercase person-card__role text-step-0">Ambassador</p>
                </div>
                <div class="person-card__image-container">
                    <img src="/assets/images/people/kai-michaelis.png" alt="">
                    <span>
                        {% icon icon = "linkedin",
                            alt = "linkedin",
                            width = "var(--space-m)" %}
                    </span>
                </div>
                <a class="person-card__link" target="_blank" href="https://www.linkedin.com/in/kai-michaelis-60319a196/">
                    <span class="sr-only">Visit LinkedIn</span>
                </a>
            </div>
        </div>
    </div>
</div>
