---
title: "Community"
layout: "layouts/subpage.njk"
permalink: /community/index.html
---

<div class="wrapper" style="--wrapper-max: var(--wrapper-m)">
    <div class="infographic">
        <div class="infographic-item infographic-item__mobile">
            <img src="/assets/images/infographic-mobile.png" alt="">
        </div>
        <div class="infographic-item infographic-item__desktop">
            <img src="/assets/images/infographic-desktop.png" alt="">
        </div>
    </div>
</div>

<div class="stack-l">
    <div class="stack-m">
        <div class="wrapper" style="--wrapper-max: var(--wrapper-m);">
            <h1 class="uppercase font-head text-purple weight-bold text-step-4">OSF APPROVED IBV's</h1>
        </div>
        <div class="text-side-by-side sidebar-right wrapper" style="
        --wrapper-max: var(--wrapper-m);
        --sidebar-width: clamp(22rem, 30vw, 30rem);
        --sidebar-gap: var(--space-l);
        --sidebar-threshold: 40rem;
        ">
            <div class="stack-m">
                <p class="text-step-1">Independent BIOS and Firmware Vendors (IBVs) contribute specialized expertise, robust support, and cutting-edge solutions that advance open-source firmware for secure and efficient systems worldwide.
                </p>
            </div>
            <aside class="stack-xs">
                <p class="text-step-0 text-gray-dark">Interested in supporting the Open-Source Firmware Foundation as an IBV?</p>
                <a href="mailto:contact@opensourcefirmware.foundation" class="link text-step--1">Contact us</a>
            </aside>
        </div>
    </div>

    <div class="wrapper" style="--wrapper-max: var(--wrapper-m);">
        <ul role="list" class="grid-switcher" style="
      --gs-columns-medium: 1;
      --gs-columns-large: 2;
          --gs-gap: var(--space-m);
        ">
            {% for ibv in collections
                .ibvs[0]
                .data
                .ibvs %}
                <li class="edge-card">
                    <div class="edge-card__header">
                        {% if ibv
                            .logo
                            .includes(".png") %}
                            <img src="{{ ibv.logo }}" alt="{{ ibv.name }}" class="edge-card__header-icon">
                        {% else %}
                            {% icon icon = ibv.logo,
                              alt = "OSFF",
                              class = "edge-card__header-icon"
                          %}
                        {% endif %}
                        <h3 class="uppercase text-step-2 font-head weight-bold">{{ ibv.name }}</h3>
                        {% if ibv.isMember %}
                            {% include "partials/ribbon.njk" %}
                        {% endif %}
                    </div>
                    <div class="edge-card__content">
                        <p class="weight-medium text-step--1">"{{ ibv.quote }}"</p>
                    </div>
                    <div class="edge-card__footer">
                        <a href="{{ ibv.link }}" class="btn btn--small">More info</a>
                        {% icon icon = "osff-sign",
        alt = "OSFF",
        class = "edge-card__footer-icon",
        width = "var(--space-l)" %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="wrapper | stack-m" style="--wrapper-max: var(--wrapper-m)">
    <div class="sidebar-left" style="
      --sidebar-threshold: 30rem;
      --sidebar-gap-vertical: var(--space-xs);
      --sidebar-gap: var(--space-l);
      --sidebar-width: 35ch;
    ">
        <div class="stack-xs">
            <h2 class="uppercase text-purple font-head text-step-0 weight-regular">Hardware Partners</h2>
            <h3 class="uppercase text-purple font-head text-step-3 weight-bold">Powering Open Source Possibilities</h3>
        </div>
        <p class="text-step-1">Discover industry-leading hardware solutions optimized for open-source projects. From servers to processors,
      explore the partners enabling next-generation innovation.</p>
    </div>
    <ul role="list" class="grid-switcher" style="
      --gs-columns-medium: 1;
      --gs-columns-large: 2;
      --gs-gap: var(--space-m);
      ">
        {% for partner in collections
            .hardware[0]
            .data
            .hardware %}
            <li class="round-card">
                <div class="round-card__tagline">
                    <p class="tag">{{ partner.seller }}</p>
                </div>
                <div class="round-card__header bg-gray">
                    {% if partner.logo %}
                        {% if partner
                            .logo
                            .includes(".png") %}
                            <img src="{{ partner.logo }}" alt="{{ partner.name }}" class="edge-card__header-icon">
                        {% elif partner
                            .logo
                            .includes(".svg") %}
                            <img src="{{ partner.logo }}" alt="{{ partner.name }}" class="edge-card__header-icon">
                        {% else %}
                            {% icon icon = partner.logo,
                                alt = "OSFF",
                                class = "edge-card__header-icon"
                            %}
                        {% endif %}
                    {% endif %}
                    <h3 class="uppercase text-step-2 font-head weight-bold">{{ partner.name }}</h3>
                    {% if partner.isMember %}
                        {% include "partials/ribbon.njk" %}
                    {% endif %}
                </div>
                <div class="round-card__content | stack-m">
                    <p class="weight-medium text-step--1">{{ partner.description }}</p>
                    <div class="cluster" style="--cluster-gap: var(--space-m);">
                        <div class="stack-xxs">
                            {% if partner.projectLogos %}
                            <h4 class="uppercase text-step--1">Projects</h4>
                            <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                                {% for logo in partner.projectLogos %}
                                    {% if logo.includes(".png") %}
                                        <img src="{{ logo }}" class="edge-card__header_icon_small" alt = "OSFF">
                                    {% else %}
                                        {% icon icon = logo,
                                            alt = "OSFF",
                                            width = "var(--space-m)" %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="stack-xxs">
                            {% if partner.supportedSocLogos %}
                            <h4 class="uppercase text-step--1">Supported Soc</h4>
                            <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                                {% for logo in partner.supportedSocLogos %}
                                    {% icon icon = logo,
                                alt = "OSFF",
                                width = "var(--space-s)" %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="round-card__footer">
                    <a href="{{ partner.link }}" class="btn btn--small">More info</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<!--
<div class="wrapper stories-slider bg-gray" style="--wrapper-max: var(--wrapper-m)">
    <div class="decoline-container">
        <span class="decoline" aria-hidden="true"></span>
        <span class="decoline" aria-hidden="true"></span>
        <span class="decoline" aria-hidden="true"></span>
    </div>

    <div class="bg-white stories-slider__header stack-xs">
        <p class="uppercase text-purple font-head text-step--1 leading-flat ">Real-world impact</p>
        <h2 class="leading-normal weight-regular">Explore transformative Successes in Open Source</h2>
    </div>

    <div class="stories-slider__content swiper stack-s">
        <div class="swiper-wrapper">
            {% for teaser in collections
                .blogTeaser[0]
                .data
                .blogTeaser %}
                <div class="swiper-slide stack-m">
                    <h3 class="tag">{{ teaser.label }}</h3>
                    <p class="text-center stories-slider__content-text font-head text-step-3 text-purple">{{ teaser.text }}</p>

                    <a class="text-center btn" target="blank" href="{{ teaser.linkUrl }}">Read more</a>
                </div>
            {% endfor %}
        </div>

        <button class="stories-slider__content-button swiper-button-prev">{% icon icon = "arrowhead-left", alt="previous slide"%}</button>
        <button class="stories-slider__content-button swiper-button-next">{% icon icon = "arrowhead-right", alt="next slide"%}</button>

        <div class="swiper-pagination"></div>
    </div>
</div>
-->

<div class="multiple-link-teaser | wrapper" style="--wrapper-max: var(--wrapper-m);">
    <div class="multiple-link-teaser__content | stack-s">
        <h2 class="uppercase font-head text-purple weight-bold text-step-3">Governance</h2>
        <p class="text-step-0">Here you find all important public documents related to the Open-Source Firmware Foundation</p>
        <div class="multiple-link-teaser__image"></div>
    </div>
    <p class="multiple-link-teaser__hint text-step--1">Open Source is not an alternative, but the best lorem ipsum dolor sit amet consteteur.</p>
    <div class="multiple-link-teaser__links">
        {% for document in collections
            .documents[0]
            .data
            .documents %}
            <a href="{{ document.download }}" target="_blank">
                {% icon icon = document.icon,
                alt = "",
                width = "var(--space-s)" %}
                {{ document.name }}
            </a>
        {% endfor %}
    </div>
    <a href="/community" class="multiple-link-teaser__small-link link">Explore the Community</a>
</div>

{% set upcomingHotEvents = collections.event | filterHotEvent %}
{% set nextEvent = upcomingHotEvents[0] %}

{% if nextEvent %}
    <div class="image-teaser wrapper" style="--wrapper-max: var(--wrapper-m)">
        <div class="decoline-container">
            <span class="decoline" aria-hidden="true"></span>
            <span class="decoline" aria-hidden="true"></span>
            <span class="decoline" aria-hidden="true"></span>
        </div>

        <div class="image-teaser__content">
            <div class="wrapper image-teaser__image">
                <img class="overlay" src="{{ nextEvent.data.image }}" alt="{{ nextEvent.data.title }}">
            </div>
            <div class="image-teaser__cta stack-s">
                <p class="uppercase text-purple font-head text-step--1 leading-flat">Dont't miss our next event</p>
                <h2 class="leading-normal weight-regular">{{ nextEvent.data.title }}</h2>
                <a class="btn weight-regular" href="/events/{{ nextEvent.data.title | slugify }}/">Info & Tickets</a>
            </div>
        </div>
    </div>
{% endif %}