---
title: "Community"
layout: "layouts/subpage.njk"
permalink: /community/index.html
---

<div class="wrapper" style="--wrapper-max: var(--wrapper-m)">
    <div class="infographic">
        <div class="infographic-item infographic-item__mobile">
            <img src="/assets/images/infographic-mobile.png" alt="">
        </div>
        <div class="infographic-item infographic-item__desktop">
            <img src="/assets/images/infographic-desktop.png" alt="">
        </div>
    </div>
</div>

<div class="stack-l">
    <div class="stack-m">
        <div class="wrapper" style="--wrapper-max: var(--wrapper-m);">
            <h1 class="uppercase font-head text-purple weight-bold text-step-4">OSF APPROVED IBV's</h1>
        </div>
        <div class="text-side-by-side sidebar-right wrapper" style="
        --wrapper-max: var(--wrapper-m);
        --sidebar-width: clamp(22rem, 30vw, 30rem);
        --sidebar-gap: var(--space-l);
        --sidebar-threshold: 40rem;
        ">
            <div class="stack-m">
                <p class="text-step-1">Independent BIOS and Firmware Vendors (IBVs) contribute specialized expertise, robust support, and cutting-edge solutions that advance open-source firmware for secure and efficient systems worldwide.
                </p>
            </div>
            <aside class="stack-xs">
                <p class="text-step-0 text-gray-dark">Interested in supporting the Open-Source Firmware Foundation as an IBV?</p>
                <a href="#" class="link text-step--1">Contact us</a>
            </aside>
        </div>
    </div>

    <div class="wrapper" style="--wrapper-max: var(--wrapper-m);">
        <ul role="list" class="grid-switcher" style="
      --gs-columns-medium: 1;
      --gs-columns-large: 2;
          --gs-gap: var(--space-m);
        ">
            <li class="edge-card">
                <div class="edge-card__header">
                    {% icon icon = "osff",
        alt = "OSFF",
        class = "edge-card__header-icon",
        width = "clamp(4rem, 10vw, 8rem)" %}
                    <h3 class="uppercase text-step-2 font-head weight-bold">Covered Security Suite</h3>
                </div>
                <div class="edge-card__content">
                    <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
                </div>
                <div class="edge-card__footer">
                    <a href="#" class="btn btn--small">More info</a>
                    {% icon icon = "osff-sign",
        alt = "OSFF",
        class = "edge-card__footer-icon",
        width = "var(--space-l)" %}
                </div>
            </li>
            <li class="edge-card">
                <div class="edge-card__header">
                    {% icon icon = "linuxboot",
        alt = "LinusBoot",
        class = "edge-card__header-icon",
        width = "clamp(4rem, 10vw, 8rem)" %}
                    <h3 class="uppercase text-step-2 font-head weight-bold">LinuxBoot</h3>
                </div>
                <div class="edge-card__content">
                    <p class="weight-medium text-step--1">LinuxBoot is a firmware for modern servers that replaces specific firmware functionality like the UEFI DXE phase with a Linux kernel and runtime.</p>
                </div>
                <div class="edge-card__footer">
                    <a href="#" class="btn btn--small">More info</a>
                    {% icon icon = "osff-sign",
        alt = "OSFF",
        class = "edge-card__footer-icon",
        width = "var(--space-l)" %}
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="wrapper | stack-m" style="--wrapper-max: var(--wrapper-m)">
    <div class="sidebar-left" style="
      --sidebar-threshold: 30rem;
      --sidebar-gap-vertical: var(--space-xs);
      --sidebar-gap: var(--space-l);
      --sidebar-width: 35ch;
    ">
        <div class="stack-xs">
            <h2 class="uppercase text-purple font-head text-step-0 weight-regular">Hardware Partners</h2>
            <h3 class="uppercase text-purple font-head text-step-3 weight-bold">Powering Open Source Possibilities</h3>
        </div>
        <p class="text-step-1">Discover industry-leading hardware solutions optimized for open-source projects. From servers to processors,
      explore the partners enabling next-generation innovation.</p>
    </div>
    <ul role="list" class="grid-switcher" style="
      --gs-columns-medium: 1;
      --gs-columns-large: 2;
      --gs-gap: var(--space-m);
      ">
        <li class="round-card">
            <div class="round-card__tagline">
                <p class="tag">Founding member</p>
            </div>
            <div class="round-card__header bg-gray">
                <h3 class="text-center uppercase text-step-2 font-head weight-bold">System76</h3>
            </div>
            <div class="round-card__content | stack-m">
                <p class="weight-medium text-step--1">Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="cluster" style="--cluster-gap: var(--space-m);">
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Projects</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Supported Soc</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="round-card__footer">
                <a href="#" class="btn btn--small">More info</a>
            </div>
        </li>
        <li class="round-card">
            <div class="round-card__tagline">
                <p class="tag">Founding member</p>
            </div>
            <div class="round-card__header bg-gray">
                <h3 class="text-center uppercase text-step-2 font-head weight-bold">System76</h3>
            </div>
            <div class="round-card__content | stack-m">
                <p class="weight-medium text-step--1">Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="cluster" style="--cluster-gap: var(--space-m);">
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Projects</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Supported Soc</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="round-card__footer">
                <a href="#" class="btn btn--small">More info</a>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper stories-slider bg-gray" style="--wrapper-max: var(--wrapper-m)">
  <div class="decoline-container">
    <span class="decoline" aria-hidden="true"></span>
    <span class="decoline" aria-hidden="true"></span>
    <span class="decoline" aria-hidden="true"></span>
  </div>

  <div class="bg-white stories-slider__header stack-xs">
    <p class="uppercase text-purple font-head text-step--1 leading-flat ">Real-world impact</p>
    <h2 class="leading-normal weight-regular">Explore transformative Successes in Open Source</h2>
  </div>

  <div class="stories-slider__content swiper stack-s">
    <div class="swiper-wrapper">
      <div class="swiper-slide stack-m">
        <h3 class="tag">Mozilla Firefox</h3>
        <p class="text-center stories-slider__content-text font-head text-step-3 text-purple">Mozilla <span class="weight-bold">transformed web browsing</span> with Firebox, promoting user privacy and security. This project has fostered a <span class="weight-bold">strong open-source</span> community.</p>

        <a class="text-center btn" href="#">Read more</a>
      </div>

      <div class="swiper-slide stack-m">
        <h3 class="tag">Mozilla Firefox</h3>
        <p class="text-center stories-slider__content-text font-head text-step-3 text-purple">Mozilla <span class="weight-bold">transformed web browsing</span> with Firebox, promoting user privacy and security. This project has fostered a <span class="weight-bold">strong open-source</span> community.</p>

        <a class="text-center btn" href="#">Read more</a>
      </div>
    </div>

    <button class="stories-slider__content-button swiper-button-prev">{% icon icon = "arrowhead-left", alt="previous slide"%}</button>
    <button class="stories-slider__content-button swiper-button-next">{% icon icon = "arrowhead-right", alt="next slide"%}</button>

    <div class="swiper-pagination"></div>
  </div>
</div>

<div class="multiple-link-teaser | wrapper" style="--wrapper-max: var(--wrapper-m);">
    <div class="multiple-link-teaser__content | stack-s">
        <h2 class="uppercase font-head text-purple weight-bold text-step-3">Governance</h2>
        <p class="text-step-0">Here you find all important public documents related to the Open-Source Firmware Foundation</p>
        <div class="multiple-link-teaser__image"></div>
    </div>
    <p class="multiple-link-teaser__hint text-step--1">Open Source is not an alternative, but the best lorem ipsum dolor sit amet consteteur.</p>
    <div class="multiple-link-teaser__links">
        <a href="#">
            {% icon icon = "board-meeting",
                    alt = "",
                    width = "var(--space-s)" %}
                Board Meeting Minutes
            </a>
        <a href="#">
            {% icon icon = "articles",
                    alt = "",
                    width = "var(--space-s)" %}
                Articles of Incorporation
            </a>
        <a href="#">
            {% icon icon = "code-of-conduct",
                    alt = "",
                    width = "var(--space-s)" %}
                Code of Conduct
            </a>
        <a href="#">
            {% icon icon = "antitrust",
                    alt = "",
                    width = "var(--space-s)" %}
                Antitrust Policy
            </a>
        <a href="#">
            {% icon icon = "articles",
                    alt = "",
                    width = "var(--space-s)" %}
                Articles of Incorporation
            </a>
        <a href="#">
            {% icon icon = "code-of-conduct",
                    alt = "",
                    width = "var(--space-s)" %}
                Code of Conduct
            </a>
        <a href="#">
            {% icon icon = "antitrust",
                    alt = "",
                    width = "var(--space-s)" %}
                Antitrust Policy
            </a>
    </div>
    <a href="#" class="multiple-link-teaser__small-link link">Explore the Community</a>
</div>

<div class="image-teaser wrapper" style="--wrapper-max: var(--wrapper-m)">
    <div class="decoline-container">
        <span class="decoline" aria-hidden="true"></span>
        <span class="decoline" aria-hidden="true"></span>
        <span class="decoline" aria-hidden="true"></span>
    </div>

    <div class="image-teaser__content">
        <div class="wrapper image-teaser__image"><img class="overlay" src="/assets/images/osfc-2024.jpeg" alt=""></div>
        <div class="image-teaser__cta stack-s">
            <p class="uppercase text-purple font-head text-step--1 leading-flat ">Don’t miss the loremsum</p>
            <h2 class="leading-normal weight-regular">OSFC 2024 - Open-Source Firmware Conference 2024</h2>
            <a class="btn weight-regular" href="#">Info & Tickets</a>
        </div>
    </div>
</div>
