---
title: "Events"
layout: "layouts/base.njk"
type: "hero-variation"
pagination:
  data: collections.event
  size: 1
  alias: event
permalink: /events/{{ event.data.title | slugify }}/index.html
eleventyImport:
  collections: ["events"]
---
<div class="hero-section hero-section__event wrapper" style="--wrapper-max: var(--wrapper-m)">
  <h1 class="text-center text-white uppercase font-head weixght-bold text-step-4">{{ event.data.title }}</h1>
  <time class="tag tag-variation" datetime="{{ event.data.date }}">{{ event.data.date | date("MMMM DD") }}
    <span aria-hidden="true" class="line"></span>
    {{ event.data.date | date("YYYY") }}</time>
</div>

<div class="sidebar-left wrapper" style="--wrapper-max: var(--wrapper-m); --sidebar-gap: var(--space-l);">
  <div class="text-white event-sidebar bg-salmon stack-s">
    <div class="stack-xxs">
      <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
        {% icon icon = "calendar-variation",
                alt = "",
                class = "text-black",
                width = "var(--space-m)" %}
        <h2 class="uppercase font-head weight-regular">When</h2>
      </span>
      <p class="leading-loose">
        {{ event.data.date | date("MMMM DD, YYYY") }}, <br>
        {{ event.data.time }}
      </p>
    </div>

    <div class="stack-xxs">
      <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
        {% icon icon = "location",
                alt = "",
                class = "text-black",
                width = "var(--space-m)" %}
        <h2 class="uppercase font-head weight-regular">Where</h2>
      </span>
      <p class="leading-loose">
        {{ event.data.location.name }}
        <br>
        {{ event.data.location.campus }}
        <br>
        {{ event.data.location.address }}
        <br>
        {{ event.data.location.postal_code }}
        {{ event.data.location.city }}
        <br>
      </p>
    </div>

    <span>
      <a class="btn btn--small" href="{{ event.data.registration.button_url }}">{{ event.data.registration.button_text }}</a>
    </span>
  </div>

  <div class="stack-m">
    <p class="text-step-1">{{ event.data.description }}</p>

    {% if event.data.registration.alert %}
      <p class="alert">{{ event.data.registration.alert }}</p>
    {% endif %}

    {% if event.data.intro %}
      <p class="text-step-0">{{ event.data.intro }}</p>
    {% endif %}

    {% if event.data.topics %}
      <div class="fancy-list-container">
        <h2 class="font-head text-step-2 text-purple">Topics</h2>
        <ul class="fancy-list text-step-0 text-purple" role="list">
          {% for topic in event.data.topics %}
            <li class="done">{{ topic }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if event.data.descriptionUnderTopics %}
      <p class="text-step-0">{{ event.data.descriptionUnderTopics }}</p>
    {% endif %}

    {% if event.data.schedule %}
      <div class="fancy-list-container stack-s">
        {% for day, items in event.data.schedule %}
          <h2 class="font-head text-step-2 text-purple">{{ day | capitalize }}</h2>
          <ul class="fancy-timetable stack-xs" role="list">
            {% for item in items %}
              <li>
                {% set timeHour = item
                  .time
                  .split(':')[0] | int %}
                <time datetime="{{ item.time }}">{{ timeHour }}
                  <span>
                    {% if timeHour < 12 %}AM{% else %}PM{% endif %}</span></time>
                {{ item.event }}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}

    {% if event.data.descriptionUnderSchedule %}
      <p class="text-step-0">{{ event.data.descriptionUnderSchedule }}</p>
    {% endif %}

    {% if event.data.sponsors %}
      <div class="sponsor-section cluster" style="--cluster-alignment: baseline; --cluster-gap: var(--space-m);">
        <h2 class="uppercase text-purple font-head weight-regular">Sponsors</h2>
        <ul role="list">
          {% for sponsor in event.data.sponsors %}
            <li>
              <a class="link" href="{{ sponsor.url }}">{{ sponsor.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="text-white event-sidebar event-sidebar-bottom bg-salmon stack-s">
      <div class="stack-xxs">
        <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
          {% icon icon = "calendar-variation",
                  alt = "",
                  class = "text-black",
                  width = "var(--space-m)" %}
          <h2 class="uppercase font-head weight-regular">When</h2>
        </span>
        <p class="leading-loose">
          {{ event.data.date | date("MMMM DD, YYYY") }}, <br>
          {{ event.data.time }}
        </p>
      </div>

      <div class="stack-xxs">
        <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
          {% icon icon = "location",
                  alt = "",
                  class = "text-black",
                  width = "var(--space-m)" %}
          <h2 class="uppercase font-head weight-regular">Where</h2>
        </span>
        <p class="leading-loose">
          {{ event.data.location.name }}
          <br>
          {{ event.data.location.campus }}
          <br>
          {{ event.data.location.address }}
          <br>
          {{ event.data.location.postal_code }}
          {{ event.data.location.city }}
          <br>
        </p>
      </div>

      <span>
        <a class="btn btn--small" href="{{ event.data.registration.button_url }}">{{ event.data.registration.button_text }}</a>
      </span>
    </div>
  </div>
</div>

<div class="image-teaser wrapper" style="--wrapper-max: var(--wrapper-m)">
  <div class="decoline-container">
    <span class="decoline" aria-hidden="true"></span>
    <span class="decoline" aria-hidden="true"></span>
    <span class="decoline" aria-hidden="true"></span>
  </div>

  <div class="image-teaser__content">
    <div class="wrapper image-teaser__image">
      {% if event.data.image %}
        <img class="overlay" src="{{ event.data.image }}" alt="{{ event.data.title }}">
      {% else %}
        <img class="overlay" src="/assets/images/osfc-2024.jpeg" alt="{{ event.data.title }}">
      {% endif %}
    </div>
    <div class="image-teaser__cta stack-s">
      <p class="uppercase text-purple font-head text-step--1 leading-flat ">Don't miss the next event</p>
      <h2 class="leading-normal weight-regular">{{ event.data.title }}</h2>
      <a class="btn weight-regular" href="{{ event.data.registration.button_url }}">{{ event.data.registration.button_text }}</a>
    </div>
  </div>
</div>