---
title: "Events"
layout: "layouts/base.njk"
permalink: /events/index.html
type: "hero-variation"
---

<section class="image-hero">
  <div class="bg-white image-hero__cutout">
    <h1 class="text-center uppercase font-head weight-bold text-step-4 text-purple">Events</h1>
  </div>

  <div class="bg-purple image-hero__container">
    <img src="/assets/images/osfc-2024.jpeg" alt="">
  </div>
</section>


<div class="wrapper | stack-m" style="--wrapper-max: var(--wrapper-m)">
    <div class="sidebar-left" style="
      --sidebar-threshold: 30rem;
      --sidebar-gap-vertical: var(--space-xs);
      --sidebar-gap: var(--space-l);
      --sidebar-width: 35ch;
    ">
        <div class="stack-xs">
            <h2 class="uppercase text-purple font-head text-step-0 weight-regular">Hardware Partners</h2>
            <h3 class="uppercase text-purple font-head text-step-3 weight-bold">Powering Open Source Possibilities</h3>
        </div>
        <p class="text-step-1">Discover industry-leading hardware solutions optimized for open-source projects. From servers to processors,
      explore the partners enabling next-generation innovation.</p>
    </div>
    <ul role="list" class="grid-switcher" style="
      --gs-columns-medium: 1;
      --gs-columns-large: 2;
      --gs-gap: var(--space-m);
    ">
        <li class="round-card">
            <div class="round-card__tagline">
                <p class="tag">Founding member</p>
            </div>
            <div class="round-card__header bg-gray">
                <h3 class="text-center uppercase text-step-2 font-head weight-bold">System76</h3>
            </div>
            <div class="round-card__content | stack-m">
                <p class="weight-medium text-step--1">Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="cluster" style="--cluster-gap: var(--space-m);">
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Projects</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Supported Soc</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="round-card__footer">
                <a href="#" class="btn btn--small">More info</a>
            </div>
        </li>
        <li class="round-card">
            <div class="round-card__tagline">
                <p class="tag">Founding member</p>
            </div>
            <div class="round-card__header bg-gray">
                <h3 class="text-center uppercase text-step-2 font-head weight-bold">System76</h3>
            </div>
            <div class="round-card__content | stack-m">
                <p class="weight-medium text-step--1">Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="cluster" style="--cluster-gap: var(--space-m);">
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Projects</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                    <div class="stack-xxs">
                        <h4 class="uppercase text-step--1">Supported Soc</h4>
                        <div class="cluster" style="--cluster-gap: var(--space-xxs);">
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                            {% icon icon = "twitter",
            alt = "OSFF",
            width = "var(--space-s)" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="round-card__footer">
                <a href="#" class="btn btn--small">More info</a>
            </div>
        </li>
    </ul>

    <ul role="list" class="grid-switcher" style="
      --gs-columns-medium: 1;
      --gs-columns-large: 2;
      --gs-gap: var(--space-m);
    ">
        <li class="round-card">
            <div class="round-card__tagline">
                <p class="tag">September 05 –––– 2024</p>
            </div>
            <div class="round-card__header bg-purple">
                <h3 class="text-white uppercase text-step-3 font-head weight-bold">OSFC 2024 - Open-Source Firmware Conference 2024</h3>
            </div>
            <div class="round-card__content">
                <p class="text-step-0 text-gray-dark">The Open Source Firmware Foundation, in cooperation with 9elements and Google will host this years OSFC in Germany</p>
            </div>
            <div class="round-card__footer">
                <a href="#" class="link">More info</a>
            </div>
        </li>
        <li class="round-card">
            <div class="round-card__tagline">
                <p class="tag">September 05 –––– 2024</p>
            </div>
            <div class="round-card__header bg-purple">
                <h3 class="text-white uppercase text-step-3 font-head weight-bold">OSFC 2024 - Open-Source Firmware Conference 2024</h3>
            </div>
            <div class="round-card__content">
                <p class="text-step-0 text-gray-dark">The Open Source Firmware Foundation, in cooperation with 9elements and Google will host this years OSFC in Germany</p>
            </div>
            <div class="round-card__footer">
                <a href="#" class="link">More info</a>
            </div>
        </li>
    </ul>
</div>
