---
title: "Events"
layout: "layouts/base.njk"
permalink: /events/event/index.html
type: "hero-variation"
---

<div class="hero-section hero-section__event wrapper" style="--wrapper-max: var(--wrapper-m)">
  <h1 class="text-center text-white uppercase font-head weight-bold text-step-4">Opensource Firmware Day at Ruhr University Bochum</h1>
  <time class="tag tag-variation" datetime="2024-08-03">August 03 <span aria-hidden="true" class="line"></span> 2024</time>
</div>

<div class="sidebar-left wrapper" style="--wrapper-max: var(--wrapper-m); --sidebar-gap: var(--space-l);">
  <div class="text-white event-sidebar bg-salmon stack-s">
    <div class="stack-xxs">
      <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
        {% icon icon = "calendar-variation",
                alt = "",
                class = "text-black",
                width = "var(--space-m)" %}
        <h2 class="uppercase font-head weight-regular">When</h2>
      </span>
      <p class="leading-loose">
        May 2nd, <br>
        09.00am PT / 6.00pm CET / 10.30pm IST
      </p>
    </div>

    <div class="stack-xxs">
      <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
        {% icon icon = "location",
                alt = "",
                class = "text-black",
                width = "var(--space-m)" %}
        <h2 class="uppercase font-head weight-regular">Where</h2>
      </span>
      <p class="leading-loose">
        Unversité Libre De Bruxelles <br>
        Campus du Solbosch <br>
        Av. F. D. Roosevelt 50 <br>
        1050 Bruxelles <br>
      </p>
    </div>

    <span>
      <a class="btn btn--small" href="#">Add to calendar</a>
    </span>
  </div>

  <div class="stack-m">
    <p class="text-step-1">The Open Source Firmware Day @ RUB, held at Ruhr University Bochum, brought together students, industry experts, and the open-source community to explore and promote firmware development.</p>

    <p class="alert">Attention: Places are limited, so act fast!</p>

    <p class="text-step-0">Organized by Fachschaft IT-Sicherheit, 9elements Cyber Security, and the Open Source Firmware Foundation, the event featured insightful talks by prominent figures such as Vincent Zimmer and Subrata Banik, hands-on workshops on coreboot with HARDKERNEL odroid, and interactive hacking sessions. Over 70 attendees participated in discussions, learned about firmware security, and connected with experienced developers, fostering a collaborative and supportive community atmosphere.</p>

    <div class="fancy-list-container">
      <h2 class="font-head text-step-2 text-purple">Topics</h2>
      <ul class="fancy-list text-step-0 text-purple" role="list">
        <li class="done">getting started with open source firmware</li>
        <li class="done">coreboot</li>
        <li class="done">edk2</li>
        <li class="done">deploying open source firmware on hardware</li>
      </ul>
    </div>

    <p class="text-step-0">Organized by Fachschaft IT-Sicherheit, 9elements Cyber Security, and the Open Source Firmware Foundation, the event featured insightful talks by prominent figures such as Vincent Zimmer and Subrata Banik, hands-on workshops on coreboot with HARDKERNEL odroid, and interactive hacking sessions. Over 70 attendees participated in discussions, learned about firmware security, and connected with experienced developers, fostering a collaborative and supportive community atmosphere.</p>

    <div class="fancy-list-container stack-s">
      <h2 class="font-head text-step-2 text-purple">Friday/17 Nov</h2>
      <ul class="fancy-timetable stack-xs" role="list">
        <li>
          <time datetime="12:00">12<span>PM</span></time>
          Registration
        </li>
        <li>
          <time datetime="15:00">3<span>PM</span></time>
          The night ends
        </li>
        <li>
          <time datetime="16:00">4<span>PM</span></time>
          Introduction to OSF & Agenda Overview
        </li>
        <li>
          <time datetime="19:00">7<span>PM</span></time>
          Dinner
        </li>
        <li>
          <time datetime="00:00">12<span>AM</span></time>
          The night ends
        </li>
      </ul>

      <h2 class="font-head text-step-2 text-purple">Saturday/18 Nov</h2>
      <ul class="fancy-timetable stack-xs" role="list">
        <li>
          <time datetime="12:00">12<span>PM</span></time>
          Registration
        </li>
        <li>
          <time datetime="16:00">4<span>PM</span></time>
          Introduction to OSF & Agenda Overview
        </li>
        <li>
          <time datetime="19:00">7<span>PM</span></time>
          Dinner
        </li>
        <li>
          <time datetime="00:00">12<span>AM</span></time>
          The night ends
        </li>
      </ul>
    </div>

    <p class="text-step-0">Aligned with the theme "Back to the Root," the event highlighted the importance of cultivating a new generation of open-source firmware enthusiasts. The collaborative efforts of sponsors like HGI, CASA, and the Max Planck Institute for Security and Privacy, alongside workshops led by Leon Groß and Maximilian Brune, underscored the community’s commitment to innovation and education. This initiative promises a brighter future for the open-source firmware landscape by empowering younger generations with knowledge, tools, and inspiration to shape the next 25 years of development.</p>

    <div class="sponsor-section cluster" style="--cluster-alignment: baseline; --cluster-gap: var(--space-m);">
      <h2 class="uppercase text-purple font-head weight-regular">Sponsors</h2>
      <ul role="list">
        <li>
          <a class="link" href="#">Fachschaft IT-Sicherheit an der Ruhr-Universität Bochum</a>
        </li>
        <li>
          <a class="link" href="#">Max Planck Institute for Security and Privacy (MPI-SP)</a>
        </li>
        <li>
          <a class="link" href="#">CASA</a>
        </li>
        <li>
          <a class="link" href="#">HGI</a>
        </li>
      </ul>
    </div>

    <div class="text-white event-sidebar event-sidebar-bottom bg-salmon stack-s">
      <div class="stack-xxs">
        <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
          {% icon icon = "calendar-variation",
                  alt = "",
                  class = "text-black",
                  width = "var(--space-m)" %}
          <h2 class="uppercase font-head weight-regular">When</h2>
        </span>
        <p class="leading-loose">
          May 2nd, <br>
          09.00am PT / 6.00pm CET / 10.30pm IST
        </p>
      </div>

      <div class="stack-xxs">
        <span class="cluster" style="--cluster-alignment: center; --cluster-gap: var(--space-xs);">
          {% icon icon = "location",
                  alt = "",
                  class = "text-black",
                  width = "var(--space-m)" %}
          <h2 class="uppercase font-head weight-regular">Where</h2>
        </span>
        <p class="leading-loose">
          Unversité Libre De Bruxelles <br>
          Campus du Solbosch <br>
          Av. F. D. Roosevelt 50 <br>
          1050 Bruxelles <br>
        </p>
      </div>

      <span>
        <a class="btn btn--small" href="#">Add to calendar</a>
      </span>
    </div>
  </div>
</div>

<div class="image-teaser wrapper" style="--wrapper-max: var(--wrapper-m)">
  <div class="decoline-container">
    <span class="decoline" aria-hidden="true"></span>
    <span class="decoline" aria-hidden="true"></span>
    <span class="decoline" aria-hidden="true"></span>
  </div>

  <div class="image-teaser__content">
    <div class="wrapper image-teaser__image"><img class="overlay" src="/assets/images/osfc-2024.jpeg" alt=""></div>
    <div class="image-teaser__cta stack-s">
      <p class="uppercase text-purple font-head text-step--1 leading-flat ">Don’t miss the loremsum</p>
      <h2 class="leading-normal weight-regular">OSFC 2024 - Open-Source Firmware Conference 2024</h2>
      <a class="btn weight-regular" href="#">Info & Tickets</a>
    </div>
  </div>
</div>
