---
title: "Fundings"
layout: "layouts/subpage.njk"
permalink: /funding/index.html
---

<div class="stack-m">
    <div class="wrapper | stack-xl" style="--wrapper-max: var(--wrapper-m);">
        <div class="stack-s">
            <h1 class="uppercase font-head text-purple weight-bold text-step-4">We fund open ideas</h1>

            <div class="text-side-by-side sidebar-right" style="
                --sidebar-width: clamp(22rem, 30vw, 30rem);
                --sidebar-gap: var(--space-l);
                --sidebar-threshold: 40rem;
                ">
                <div class="stack-m">
                    <p class="text-step-1">Are you working on an open source firmware project and need financial support to move it forward?</p>
                    <p class="text-step-1"> We believe in empowering developers, researchers, and communities building the future of trustworthy technology. That’s why we offer direct support to help your project grow.</p>
                </div>
                <aside class="stack-xs">
                    <p class="text-step-0 text-gray-dark">Curious what kind of projects we're supporting?</p>
                    <a href="/projects/" class="link text-step--1">View Projects</a>
                </aside>
            </div>
        </div>

        <div class="stack-m">
            <h3 class="text-center uppercase text-step-3 text-purple font-head">Open Calls</h3>
            <ul role="list" class="stack-m">
                {% for funding in collections.funding %}
                    <li class="edge-card">
                        <div class="sidebar-right" style="
                            --sidebar-threshold: 30rem;
                            --sidebar-gap: var(--space-l);
                            --sidebar-gap-vertical: var(--space-m);
                        ">
                            <div>
                                <div class="edge-card__header">
                                    <h3 class="uppercase text-step-2 font-head weight-bold">{{funding.data.title}}</h3>
                                </div>
                                <div class="edge-card__content">
                                    <p class="weight-medium text-step--1">{{funding.data.subtitle}}</p>
                                </div>
                            </div>
                            <div class="stack-m">
                                <div class="stack-xxs">
                                    <h4 class="uppercase font-head text-step--1 weight-bold">Status</h4>
                                    <div class="text-purple text-step-0" style="display: flex; gap: var(--space-xxs);">
                                        <span class="border-label" style="width: 5rem">Open</span>{{ funding.data.open }}
                                    </div>
                                    <div class="text-purple text-step-0" style="display: flex; gap: var(--space-xxs);">
                                        <span class="border-label" style="width: 5rem">Closes</span>{{ funding.data.closes }}
                                    </div>
                                </div>
                                <div class="stack-xxs">
                                    <h4 class="uppercase font-head text-step--1 weight-bold">Category / Focus</h4>
                                    <p class="weight-medium text-step--1">{{ funding.data.categories | join(' · ') }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="edge-card__footer">
                            <a href="/funding/{{ funding.data.title | slugify }}/" class="btn btn--small">More Info & Application</a>
                            {% icon icon = "osff-sign",
                            alt = "OSFF",
                            class = "edge-card__footer-icon",
                            width = "var(--space-m)" %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="text-white funding-teaser bg-purple">
    <div class="wrapper | stack-l">
        <div class="stack-m">
            <h2 class="text-center uppercase font-head text-salmon weight-bold text-step-4">Funding Without the Fuss</h2>
            <p class="text-center text-step-1">We keep it simple: if you're working on something that aligns with our mission — open, trustworthy, and accessible firmware — let’s talk.</p>
            <p class="text-center text-step-1">We support early-stage ideas, ongoing projects, and everything in between. Whether you're a solo developer, a team, or part of an organization, we want to hear from you.</p>
        </div>
        <hr>
        <div class="stack-m">
            <h3 class="text-step-3 font-head">Here's how it works:</h3>
            <ul class="fancy-list fancy-list--light | text-step-0" role="list">
                <li>Send us a short proposal: Tell us what you're building, why it matters, and what kind of support you need.</li>
                <li>We'll review it quickly: Our team will get back to you and might ask for more details.</li>
                <li>Get funded: If there's a fit, we’ll support you—financially and beyond.</li>
            </ul>
        </div>
        <div class="bg-white funding-teaser__cta stack-xs">
            <p class="text-step-0 text-gray-dark">Curious if your idea fits?<br> Don’t hesitate to reach out.</p>
            <a href="/projects/" class="link text-step--1">View Projects</a>
        </div>
    </div>
</div>