---
title: "Home"
layout: "layouts/base.njk"
permalink: /
---

<div class="wrapper | stack-m" style="--wrapper-max: var(--wrapper-m)">
  <h2 class="text-center uppercase font-head weight-bold text-step-4 text-purple">Companies transforming the Ecosystem with Open-Source Firmware</h2>
  <ul role="list" class="logo-list | auto-grid" style="
    --auto-grid-min-size: clamp(8rem, 20vw, 12rem);
  ">
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 134; --height: 127;">
        <img src="/assets/images/partner-logos/example-1.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
    <li class="logo-list__item">
      <div class="logo-list__logo" style="--width: 642; --height: 241;">
        <img src="/assets/images/partner-logos/example-2.png" alt="">
      </div>
      <a href="https://www.9elements.com" target="blank">
        <span class="sr-only">Checkout 9elements Website</span>
      </a>
    </li>
  </ul>
</div>

<div class="text-side-by-side sidebar-right wrapper" style="
  --wrapper-max: var(--wrapper-m);
  --sidebar-width: clamp(22rem, 30vw, 30rem);
  --sidebar-gap: var(--space-l);
  --sidebar-threshold: 40rem;
  ">
  <div class="stack-m">
    <p class="text-step-1">At the heart of a global movement, we unite developers, companies, and communities to create secure, transparent, and flexible firmware solutions for the future. 
  <br><br>
  Join us in driving change through open collaboration and cutting-edge technology.
  </p>
    <a href="#" class="btn btn--primary">More info</a>
  </div>
  <aside class="stack-xs">
    <p class="text-step-0 text-gray-dark">The entire logo selection of the Open-Source Firmware Foundation.</p>
    <a href="#" class="link text-step--1">Zum Download</a>
  </aside>
</div>

<div class="wrapper | stack-m" style="--wrapper-max: var(--wrapper-m)">
  <h2 class="text-center uppercase font-head weight-bold text-step-4 text-purple">hot firmware projects</h2>
  <ul role="list" class="grid-switcher" style="
      --gs-columns-medium: 1;
      --gs-columns-large: 2;
      --gs-gap: var(--space-m);
    ">
    <li class="edge-card">
      <div class="edge-card__header">
        {% icon icon = "osff",
        alt = "OSFF",
        class = "edge-card__header-icon",
        width = "var(--space-xl)" %}
        <h3 class="uppercase text-step-2 font-head weight-bold">Covered Security Suite</h3>
      </div>
      <div class="edge-card__content">
        <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
      </div>
      <div class="edge-card__footer">
        <a href="#" class="btn btn--small">More info</a>
        {% icon icon = "osff-sign",
        alt = "OSFF",
        class = "edge-card__footer-icon",
        width = "var(--space-l)" %}
      </div>
    </li>
    <li class="edge-card">
      <div class="edge-card__header">
        {% icon icon = "linuxboot",
        alt = "LinusBoot",
        class = "edge-card__header-icon",
        width = "var(--space-xl)" %}
        <h3 class="uppercase text-step-2 font-head weight-bold">LinuxBoot</h3>
      </div>
      <div class="edge-card__content">
        <p class="weight-medium text-step--1">LinuxBoot is a firmware for modern servers that replaces specific firmware functionality like the UEFI DXE phase with a Linux kernel and runtime.</p>
      </div>
      <div class="edge-card__footer">
        <a href="#" class="btn btn--small">More info</a>
        {% icon icon = "osff-sign",
        alt = "OSFF",
        class = "edge-card__footer-icon",
        width = "var(--space-l)" %}
      </div>
    </li>
  </ul>
</div>