---
title: "Open Call"
layout: "layouts/subpage.njk"
pagination:
  data: collections.funding
  size: 1
  alias: funding
permalink: /funding/{{ funding.data.title | slugify }}/
eleventyImport:
  collections: ["funding"]
---

<div class="wrapper" style="--wrapper-max: 110rem">
    <div class="sidebar-right" style="
            --sidebar-width: 24rem;
            --sidebar-gap: var(--space-l);
        ">
        <div class="open-call | stack-m">
            <div class="stack-xs">
                <h1 class="uppercase font-head text-purple weight-bold text-step-4">{{funding.data.title}}</h1>
                <p class="text-step-1">{{funding.data.subtitle}}</p>
            </div>
            <div class="open-call__info">
                <div class="stack-xxs">
                    <h4 class="uppercase font-head text-step--1 weight-bold">Status</h4>
                    <div class="text-purple text-step-0" style="display: flex; gap: var(--space-xxs);">
                        <span class="border-label" style="width: 5rem">Open</span>{{ funding.data.open}}
                    </div>
                    <div class="text-purple text-step-0" style="display: flex; gap: var(--space-xxs);">
                        <span class="border-label" style="width: 5rem">Closes</span>{{ funding.data.closes}}
                    </div>
                </div>
                <div class="stack-xxs">
                    <h4 class="uppercase font-head text-step--1 weight-bold">Funding Range</h4>
                    <p class="text-salmon text-step-2 font-head weight-bold">{{ funding.data.fundingRange}}</p>
                </div>
            </div>
            <hr>
            <div class="plain-html">
                {{ funding.content | safe }}
            </div>
        </div>
        <div class="open-call__sidebar | stack-m">
            <div class="stack-xxs">
                <h4 class="uppercase font-head text-step--1 weight-bold text-purple">How to apply</h4>
                <p class="text-step--1 text-gray-dark">Send your one-page proposal to: </p>
                <a href="mailto:cfp+2025oc1@osfw.foundation" class="text-step--1">cfp+2025oc1@osfw.foundation</a>
            </div>
            <div class="stack-xxs">
                <h4 class="uppercase font-head text-step--1 weight-bold text-purple">Include</h4>
                <ul class="stack-xxs" role="list">
                    <li>Title and brief summary</li>
                    <li>Target project(s) and expected impact</li>
                    <li>Deliverables and milestone ideas</li>
                    <li>Estimated timeline</li>
                    <li>Requested amount (EUR)</li>
                    <li>Plan for integration (e.g., via upstream PRs)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% set upcomingHotEvents = collections.event | filterHotEvent %}
{% set nextEvent = upcomingHotEvents[0] %}

{% if nextEvent %}
    <div class="image-teaser wrapper" style="--wrapper-max: var(--wrapper-m)">
        <div class="decoline-container">
            <span class="decoline" aria-hidden="true"></span>
            <span class="decoline" aria-hidden="true"></span>
            <span class="decoline" aria-hidden="true"></span>
        </div>

        <div class="image-teaser__content">
            <div class="wrapper image-teaser__image">
                <img class="overlay" src="{{ nextEvent.data.image }}" alt="{{ nextEvent.data.title }}">
            </div>
            <div class="image-teaser__cta stack-s">
                <p class="uppercase text-purple font-head text-step--1 leading-flat">Dont't miss our next event</p>
                <h2 class="leading-normal weight-regular">{{ nextEvent.data.title }}</h2>
                <a class="btn weight-regular" href="/events/{{ nextEvent.data.title | slugify }}/">Info & Tickets</a>
            </div>
        </div>
    </div>
{% endif %}