---
title: "Projects"
layout: "layouts/subpage.njk"
permalink: /projects/index.html
---
{% set projects = collections
    .projectList[0]
    .data
    .projects %}

<div class="stack-m">
    <div class="wrapper | stack-xl" style="--wrapper-max: var(--wrapper-m);">
        <div class="stack-s">
            <h1 class="uppercase font-head text-purple weight-bold text-step-4">Open source firmware Projects</h1>

            <div class="text-side-by-side sidebar-right" style="
                --sidebar-width: clamp(22rem, 30vw, 30rem);
                --sidebar-gap: var(--space-l);
                --sidebar-threshold: 40rem;
                ">
                <div class="stack-m">
                    <p class="text-step-1">Explore groundbreaking open-source projects that redefine firmware security, flexibility, and control across modern platforms.</p>
                </div>
                <aside class="stack-xs">
                    <p class="text-step-0 text-gray-dark">Interested in joining the Open-Source Firmware Foundation?</p>
                    <a href="#" class="link text-step--1">Contact us</a>
                </aside>
            </div>
        </div>

        <div class="stack-m">
            <h3 class="uppercase text-step-2 text-purple font-head">Projects supported by us</h3>

            <ul role="list" class="grid-switcher" style="
                --gs-columns-medium: 1;
                --gs-columns-large: 2;
                --gs-gap: var(--space-m);
            ">
                <li class="edge-card">
                    <div class="edge-card__header">
                        {% icon icon = "osff",
                    alt = "OSFF",
                    class = "edge-card__header-icon",
                    width = "var(--space-xl)" %}
                        <h3 class="uppercase text-step-2 font-head weight-bold">Covered Security Suite</h3>
                    </div>
                    <div class="edge-card__content">
                        <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
                    </div>
                    <div class="edge-card__footer">
                        <a href="#" class="btn btn--small">More info</a>
                        {% icon icon = "osff-sign",
                    alt = "OSFF",
                    class = "edge-card__footer-icon",
                    width = "var(--space-l)" %}
                    </div>
                </li>

                <li class="edge-card">
                    <div class="edge-card__header">
                        {% icon icon = "osff",
                    alt = "OSFF",
                    class = "edge-card__header-icon",
                    width = "var(--space-xl)" %}
                        <h3 class="uppercase text-step-2 font-head weight-bold">Covered Security Suite</h3>
                    </div>
                    <div class="edge-card__content">
                        <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
                    </div>
                    <div class="edge-card__footer">
                        <a href="#" class="btn btn--small">More info</a>
                        {% icon icon = "osff-sign",
                    alt = "OSFF",
                    class = "edge-card__footer-icon",
                    width = "var(--space-l)" %}
                    </div>
                </li>

                <li class="edge-card">
                    <div class="edge-card__header">
                        {% icon icon = "osff",
                    alt = "OSFF",
                    class = "edge-card__header-icon",
                    width = "var(--space-xl)" %}
                        <h3 class="uppercase text-step-2 font-head weight-bold">Covered Security Suite</h3>
                    </div>
                    <div class="edge-card__content">
                        <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
                    </div>
                    <div class="edge-card__footer">
                        <a href="#" class="btn btn--small">More info</a>
                        {% icon icon = "osff-sign",
                    alt = "OSFF",
                    class = "edge-card__footer-icon",
                    width = "var(--space-l)" %}
                    </div>
                </li>

                <li class="edge-card">
                    <div class="edge-card__header">
                        {% icon icon = "osff",
                    alt = "OSFF",
                    class = "edge-card__header-icon",
                    width = "var(--space-xl)" %}
                        <h3 class="uppercase text-step-2 font-head weight-bold">Covered Security Suite</h3>
                    </div>
                    <div class="edge-card__content">
                        <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
                    </div>
                    <div class="edge-card__footer">
                        <a href="#" class="btn btn--small">More info</a>
                        {% icon icon = "osff-sign",
                    alt = "OSFF",
                    class = "edge-card__footer-icon",
                    width = "var(--space-l)" %}
                    </div>
                </li>

                <li class="edge-card">
                    <div class="edge-card__header">
                        {% icon icon = "osff",
                    alt = "OSFF",
                    class = "edge-card__header-icon",
                    width = "var(--space-xl)" %}
                        <h3 class="uppercase text-step-2 font-head weight-bold">Covered Security Suite</h3>
                    </div>
                    <div class="edge-card__content">
                        <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
                    </div>
                    <div class="edge-card__footer">
                        <a href="#" class="btn btn--small">More info</a>
                        {% icon icon = "osff-sign",
                    alt = "OSFF",
                    class = "edge-card__footer-icon",
                    width = "var(--space-l)" %}
                    </div>
                </li>
            </ul>
        </div>

        <div class="stack-m">
            <h3 class="uppercase text-step-2 text-purple font-head">not affiliated Projects</h3>

            <ul role="list" class="grid-switcher" style="
                --gs-columns-medium: 1;
                --gs-columns-large: 2;
                --gs-gap: var(--space-m);
            ">

                {% for project in projects %}

                    <li class="edge-card">
                        <div class="edge-card__header">
                            <img eleventy:ignore src="{{ project.icon }}" alt="{{ project.title }}" class="edge-card__header-icon" width="var(--space-xl)">
                            <h3 class="uppercase text-step-2 font-head weight-bold">{{ project.title }}</h3>
                        </div>
                        <div class="edge-card__content">
                            <p class="weight-medium text-step--1">{{ project.description }}</p>
                        </div>
                        <div class="edge-card__footer">
                            <a href="{{ project.url }}" class="btn btn--small">More info</a>
                            {% icon icon = "osff-sign",
                            alt = "OSFF",
                            class = "edge-card__footer-icon",
                            width = "var(--space-l)" %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="wrapper | stack-l" style="--wrapper-max: var(--wrapper-m)">
    <div class="sidebar-right" style="
      --sidebar-threshold: 40rem;
      --sidebar-gap: var(--space-l);
      --sidebar-width: 25rem;
    ">
        <div class="stack-s">
            <h3 class="uppercase text-purple font-head text-step-3 weight-bold">Driving Progress through Focused Workstreams</h3>
            <p class="text-highlight | text-step-0">
        Our specialized workstreams bring together experts and innovators to tackle key challenges in open-source firmware, from security 
        to performance optimization. Discover the initiatives shaping the future of open firmware.
      </p>
        </div>
        <div class="info-box | stack-s">
            <h4 class="leading-tight weight-regular text-step-0">Ready to dive into groundbreaking solutions? Our workstreams are where ideas become impact.</h4>
            <a class="btn btn--small" href="#">Let's go!</a>
        </div>
    </div>
</div>