---
title: "Resources"
layout: "layouts/subpage.njk"
permalink: /resources/index.html
---

<div class="wrapper stack-xl" style="--wrapper-max: var(--wrapper-m);">
  <div class="stack-s">
    <h2 class="text-center uppercase font-head weight-bold text-step-4 text-purple">Resources</h2>
    <nav>
      <ul class="cluster" role="list" style="--cluster-justification: center;">
        <li>
          <a class="tag" href="#white-paper">White paper</a>
        </li>
        <li>
          <a class="tag" href="#resources">Resources</a>
        </li>
        <li>
          <a class="tag" href="#specification">Specification</a>
        </li>
      </ul>
    </nav>
  </div>

  <section id="white-paper" class="resource-list stack-s">
    <h3 class="uppercase text-purple font-head weight-bold text-step-2">White paper</h3>

    <ul role="list">
      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">White paper</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">White paper</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">White paper</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">White paper</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">White paper</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section id="resources" class="resource-list stack-s">
    <h3 class="uppercase text-purple font-head weight-bold text-step-2">Resources</h3>

    <ul role="list">
      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Breaking the Boundary: A Way to Create Your Own FSP Binary
        </div>
          <div>
            <span class="tag">Resources</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Breaking the Boundary: A Way to Create Your Own FSP Binary
        </div>
          <div>
            <span class="tag">Resources</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Breaking the Boundary: A Way to Create Your Own FSP Binary
        </div>
          <div>
            <span class="tag">Resources</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Breaking the Boundary: A Way to Create Your Own FSP Binary
        </div>
          <div>
            <span class="tag">Resources</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section id="specification" class="resource-list stack-m">
    <h3 class="uppercase text-purple font-head weight-bold text-step-2">Specification</h3>

    <ul role="list">
      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">Specification</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">Specification</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>

      <li class="resource-list__item">
        <a href="#">
          <div>
            {% icon icon="osff-sign" %}
          Feature Request and Implementation Process
        </div>
          <div>
            <span class="tag">Specification</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>
    </ul>

  </section>

</div>