---
title: "Resources"
layout: "layouts/subpage.njk"
permalink: /resources/index.html
---

<div class="wrapper stack-xl" style="--wrapper-max: var(--wrapper-m);">
  <div class="stack-s">
    <h2 class="text-center uppercase font-head weight-bold text-step-4 text-purple">Resources</h2>
    <nav>
      <ul class="cluster" role="list" style="--cluster-justification: center;">
        <li>
          <a class="tag" href="#white-paper">White paper</a>
        </li>
        <li>
          <a class="tag" href="#resources">Resources</a>
        </li>
        <li>
          <a class="tag" href="#specification">Specification</a>
        </li>
      </ul>
    </nav>
  </div>

  <section id="white-paper" class="resource-list stack-s">
    <h3 class="uppercase text-purple font-head weight-bold text-step-2">White paper</h3>

    <ul role="list">
      {% for resource in collections.resources[0].data.whitePaper %}
      <li class="resource-list__item">
        <a href="/assets/downloads/{{ resource.file }}" target="_blank">
          <div>
            {% if resource.firmwareResource %}
              {% icon icon="osff-sign" %}
            {% endif %}
            {{ resource.name }}
        </div>
          <div>
            <span class="tag">White paper</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="resources" class="resource-list stack-s">
    <h3 class="uppercase text-purple font-head weight-bold text-step-2">Resources</h3>

    <ul role="list">
      {% for resource in collections.resources[0].data.resources %}
        <li class="resource-list__item">
          <a href="/assets/downloads/{{ resource.file }}" target="_blank">
            <div>
              {% if resource.firmwareResource %}
                {% icon icon="osff-sign" %}
              {% endif %}
              {{ resource.name }}
            </div>

            <div>
              <span class="tag">Resources</span>
              {% icon icon="diagonal-arrow" %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="specification" class="resource-list stack-m">
    <h3 class="uppercase text-purple font-head weight-bold text-step-2">Specification</h3>

    <ul role="list">
      {% for resource in collections.resources[0].data.specification %}
      <li class="resource-list__item">
        <a href="/assets/downloads/{{ resource.file }}" target="_blank">
          <div>
            {% if resource.firmwareResource %}
              {% icon icon="osff-sign" %}
            {% endif %}
            {{ resource.name }}
        </div>
          <div>
            <span class="tag">Specification</span>
            {% icon icon="diagonal-arrow" %}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

  </section>

</div>