---
title: "Workstreams"
layout: "layouts/subpage.njk"
permalink: /workstreams/index.html
---

<div class="stack-m">
    <div class="wrapper | stack-l" style="--wrapper-max: var(--wrapper-m);">
        <div class="stack-s">
            <h1 class="uppercase font-head text-purple weight-bold text-step-4">Workstreams</h1>

            <div class="text-side-by-side sidebar-right" style="
        --sidebar-width: clamp(22rem, 30vw, 30rem);
        --sidebar-gap: var(--space-l);
        --sidebar-threshold: 40rem;
        ">
                <div class="stack-m">
                    <p class="text-step-1">The Open-Source Firmware Foundation encourages it's members to push OSF to newer limits through workstreams. So join the conversations, start discussing in the calls and events and see what we can build together. </p>
                </div>
                <aside class="stack-xs">
                    <p class="text-step-0 text-gray-dark">Would you like to set up a new workstream within the OSFF?</p>
                    <a href="#" class="link text-step--1">Contact us</a>
                </aside>
            </div>
        </div>

        <ul role="list" class="grid-switcher" style="
                --gs-columns-medium: 1;
                --gs-columns-large: 2;
                --gs-gap: var(--space-m);
            ">
            {% for workstream in collections.workstream %}
            <li class="edge-card edge-card--purple">
              <div class="edge-card__header">
                <h3 class="uppercase text-step-2 font-head weight-bold">{{ workstream.data.title }}</h3>
              </div>

              <div class="edge-card__content">
                  <p class="weight-medium text-step--1">CSS is an open-source toolkit for provisioning and testing security features in firmware, specifically supporting Intel platform security.</p>
              </div>

              <div class="edge-card__footer">
                <a href="/workstreams/{{ workstream.data.title | slugify }}/" class="btn btn--small">More info</a>
                {% icon icon = "osff-sign-white",
                    alt = "OSFF",
                    class = "edge-card__footer-icon",
                    width = "var(--space-l)" %}
              </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="wrapper | stack-l" style="--wrapper-max: var(--wrapper-m)">
    <div class="sidebar-right" style="
      --sidebar-threshold: 40rem;
      --sidebar-gap: var(--space-l);
      --sidebar-width: 25rem;
    ">
        <div class="stack-s">
            <h3 class="uppercase text-purple font-head text-step-3 weight-bold">Empowering Innovation through
      Open-Source Projects</h3>
            <p class="text-highlight | text-step-0">
        Explore our supported projects advancing open-source firmware solutions.
        Each initiative tackles real-world challenges, driving progress in security,
        performance, and accessibility for a more transparent digital future.
      </p>
        </div>
        <div class="info-box | stack-s">
            <h4 class="leading-tight weight-regular text-step-0">Ready to make an impact? Discover projects that are pushing open-source firmware forward.</h4>
            <a class="btn btn--small" href="#">Explore</a>
        </div>
    </div>
</div>