---
title: "Workstream XY"
layout: "layouts/workstream.njk"
permalink: /workstreams/workstream/index.html
color: "dark"
---

{% block content %}
    <h1 class="text-center uppercase text-step-4 weight-bold font-head">silicon interface design</h1>
    <div class="date" >
        {% icon icon = "calendar",
                    alt = "",
                    width = "calc(var(--text-step-0) * 2 + 1rem)" %}
        <div class="date__content">
            <p>Kickoff Meeting: </p>
            <p>December 12th, 7.00pm CST - 10.00AM ET</p>
        </div>
        <a href="#" class="btn btn--small">Go to calendar</a>
    </div>
    <div class="content | stack-m">
        <p>Integrating binary blobs that handle parts of the silicon initialization is a common technique within the open-source
            firmware ecosystem to retain control over parts of the code, from a SoC vendor perspective. Within the last years multiple
            SoC vendors defined different interfaces to communicate to those "silicon initialization code". Also different mechanisms
            are in place to configures those.</p>
        <p>The Silicon Interface Design workstream has the goal to unify these interfaces and define a specification around it so
                that SoC vendors and (open-source) firmware projects, and their developers, have a fixed and common way to interact
                and configure those silicon initialization code.</p>
    </div>
    <ul aria-label="The Goals:" class="fancy-list | text-step-0" role="list">
        <li class="done">
            <p>Develop a transparent, easy-to-follow workflow for feature requests.</p>
        </li>
        <li class="done">
            <p>Ensure businesses and the community can collaborate efficiently.</p>
        </li>
        <li class="done">
            <p>Avoid the creation of fragmented forks by encouraging upstream development.</p>
        </li>
        <li>
            <p>Balance business needs with the open-source ethos.</p>
        </li>
    </ul>
    <ul aria-label="Resources" class="resources | auto-grid" role="list" style="
            --auto-grid-min-size: 25rem;
            --auto-grid-gap: var(--space-s);
        ">
        <li class="resources__item">
            <a href="#">Introduction slides</a>
        </li>
        <li class="resources__item">
            <a href="#">Meeting Notes</a>
        </li>
        <li class="resources__item">
            <a href="#">Apply for write access to guideline documentation</a>
        </li>
    </ul>
    <div class="stack-s">
        <h3 class="weight-bold font-head text-step-2">Workstream Leads</h3>
        <div class="workstream-lead">
            <div class="workstream-lead__portrait">
                <img src="/assets/images/people/werner-zeh.png" alt="">
            </div>
            <div class="workstream-lead__content">
                <p class="uppercase text-step-1 weight-bold font-head">Werner Zeh</p>
                <a href="mailto:werner.zeh@osfw.foundation">
                    {% icon icon = "mail",
                    alt = "",
                    width = "var(--space-s)" %}
                    werner.zeh@osfw.foundation</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block relatedContent %}
    <p>test</p>
{% endblock %}
