<header class="site-head {{ "dark" if color==="dark" else "light" }} {{ "hero-variation" if type==="hero-variation" }}">
  <div class="wrapper cluster" style="--wrapper-max: var(--wrapper-m);">
    {% icon icon="osff-logo" %}
    <nav aria-label="Main">
      <ul class="cluster font-head" style="--cluster-gap: var(--space-m)" role="list">
        {% for item in navigation.items %}
          <li>
            <a class="uppercase text-step-0 weight-medium" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
